# --- DATABASE CONFIG ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=FEShopDb
POSTGRES_PORT=5432

# --- ENVIRONMENT ---
ASPNETCORE_ENVIRONMENT=Development

# --- CONNECTION STRING ---
ConnectionStrings__DefaultConnection=Host=db;Port=${POSTGRES_PORT};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD};